 
<!-- <account-trip-card -->

  <mat-card class="card"
    [ngClass]="{'card-disabled': !tripData.status}"
  >

    <mat-card-header>
      <img
        mat-card-avatar 
        mat-card-sm-image
        class="example-header-image" 
        [src]="user.avatarSrc"
      >
      <mat-card-title>
        {{user.firstName}} {{user.lastName}} ({{user.birthDate}})
        <div class="date">
          <mat-icon class="icon"> 
            date_range
          </mat-icon>
          <span class="destination-text">
            Date: {{tripData.startTrip}} - {{tripData.endTrip}}
          </span>
        </div>
        <div class="destination">
          <mat-icon class="icon"> 
            local_airport
          </mat-icon>
          <span class="destination-text">
            Destination: {{tripData.destination}}
          </span>
        </div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="content-tags">
        <mat-icon class="icon">
          tag
        </mat-icon>
        <div class="content-tags_list">
          <span class="tag" *ngFor="let tag of tripData.travelCategiries">
			{{tag | userSomeNameById:availableUserCategories }}
		  </span>
        </div>
      </div>
      <span class="content-text">
       {{tripData.travelDescription | tripCardSizingDescription:200:maxDiscriptionCard}}
      </span>
      <button
        mat-button
        color="primary"
        *ngIf="!maxDiscriptionCard"
        (click)="showMoreText()"
        class="showmore-btn">
        show more...
      </button>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>DISSABLED</button>
      <button mat-button>SHARE</button>
      <button mat-button>Edit
        <a 
          [routerLink]="locationService.joinWithLangRoutePath('edit-trip/' + tripData.id )"
          CorrectLinkHref
          class="link"
        >
        </a>
      </button>
    </mat-card-actions>
  </mat-card>

<!-- </account-trip-card> -->   