//colors
$color-white: #FFFFFF;
$color-white087:rgba(255, 255, 255, 0.87);
$color-white03: rgba(255, 255, 255, 0.3);
$color-white06: rgba(255, 255, 255, 0.6);
$color-white-dull:#F9FAFF;
$color-black: #000000;
$color-main: #171A33;
$color-base-greey: #3B4461;
$color-white-greey: #959EBD;
$color-base6: #14172F;
$color-base4: #333951;
$color-base3: #333F60;
$color-social: #2D3754;
$color-base-blue: #00D8FF;
$color-new-blue: #00BCD4;
$color-light-blue: #007bff;
$color-error: rgba(255, 84, 84, 0.8);
$color-btn-base:  #202741;
$base-bg-card: #333E61;
$base-bg-card-hover: #333E61;
$color-black04:rgba(0, 0, 0, 0.4);
$color-black07:rgba(0, 0, 0, 0.7);
$color-black02:rgba(0, 0, 0, 0.2);
$color-black025:rgba(0, 0, 0, 0.25);
$promo-shadow-dark: rgba(18, 24, 52, 0.6);
$img-gradient-after: rgba(18, 22, 53, 0.58);
//size