@import '../../../styles/_typography.scss';

app-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $color-black04;
    overflow: hidden;
    .login-form {
        align-self: center;
        padding: 50px;
        .helper-password {
            color: transparent;
            &.error {
                color: $color-error;
            }
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .register-btn {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 3px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                &:disabled {
                    background-color: gray!important;
                    cursor: default;
                }
            }

        }
    }
}