@import '../../../styles/_typography.scss';

app-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $color-white087;
    overflow: auto;
    .register-form {
        align-self: center;
        padding: 50px;
        box-shadow: $boxShadow-container;
        .helper-password {
            color: transparent;
            &.error {
                color: $color-error;
            }
        }
        mat-error {
            font-size: 9px;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .register-btn {
                background-color: $success-background;
                border: none;
                color: white;
                padding: 3px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                &:disabled {
                    background-color: gray!important;
                    cursor: default;
                }
            }
        }
    }
    @media screen and (max-height: 620px) {
        height: 620px;
        .register-form  {
            margin-top: 20px;
        }
    }
}