<!-- <app-register> -->

	<mat-card class='login-form'>
		<mat-card-title>Registration</mat-card-title>
		<mat-card-content>
			<div [formGroup]="registerForm">
				<p>
					<mat-form-field class="example-full-width">
						<input type="text" required matInput placeholder="Login" autocomplete="off" formControlName="loginInput">
					</mat-form-field>
				</p>

				<p>
					<mat-form-field class="example-full-width">
						<input type="text" required matInput placeholder="Email" autocomplete="off" formControlName="emailInput">
						<mat-error *ngIf="true">{{inputErrors[0]}}</mat-error>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field class="example-full-width">
						<input type="text" required matInput placeholder="First name" autocomplete="off" formControlName="firstNameInput">
					</mat-form-field>
				</p>


				<p>
					<mat-form-field class="example-full-width">
						<input type="text" required matInput placeholder="Last name" autocomplete="off" formControlName="lastNameInput">
					</mat-form-field>
				</p>

				<p>
					<mat-form-field class="example-full-width">
						<input type="password" required matInput 
						placeholder="Password" autocomplete="off" formControlName="passwordFirstInput">
						<mat-hint class="helper-password" [ngClass]="{'error': registerForm.errors}">{{inputErrors[1]}}</mat-hint>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field class="example-full-width">
						<input type="password" required matInput
						placeholder="Repeat password" autocomplete="off" formControlName="passwordSecondInput">
						<mat-hint class="helper-password" [ngClass]="{'error': registerForm.errors}">{{inputErrors[1]}}</mat-hint>
					</mat-form-field>
				</p>
				
				<p *ngIf="error" class="error">
					{{ error }}
				</p>

				<div class="buttons">
					<button
						class="login-btn"
						(click)="onSubmitRegister($event)"
						[disabled]="registerForm.invalid"
						type="submit">
						Register
					</button>
				</div>

			</div>
		</mat-card-content>
    </mat-card>
    
<!-- </app-register> -->