<!-- <app-account> -->

  <section class="card">
    <div class="user-profile-images">
      <img [src]="cardHeader" class="user-header_img" alt="User Timeline Image">
      <div class="user-face_img" *ngIf="user">
        <img [src]="cardUser" class="avatar" alt="User Profile Image">
        <input type="file"
          #fileInput
          id="uploadFile"
          (change)="uploadAvatar($event)"
          name="uploadFile"
          multiple="multiple"
          accept="image/*" 
        />
      </div>
    </div>
    <div class="user-profile-text">
      <h4 class="title" *ngIf="user">{{user.firstName + ' ' + user.lastName}}</h4>
      <span class="discription">norm pacan</span>
    </div>
    <div class="card-content">
      <div class="card-content_buttons">
        <button mat-raised-button color="accent">{{accountStaticData.mappings.header.buttons.buttonChat.text}}</button>
        <button mat-raised-button color="accent">{{accountStaticData.mappings.header.buttons.buttonFeedback.text}}</button>
        <button mat-raised-button color="accent">{{accountStaticData.mappings.header.buttons.buttonMyPosts.text}}</button>
      </div>
    </div>
  </section>

  <section class="main">

    <div class="main-profile">
      <!-- <h3 class="main-profile_title">{{accountStaticData.mappings.personalInfo.securityTitle.text}}</h3> -->
				<p class="main-profile_params">
					<mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{accountStaticData.mappings.personalInfo.email.emailInput.text}}</mat-label>
            <input type="text" 
              required matInput 
              autocomplete="off" 
              #emailInput
              [formControl]="emailForm"
            >
						<mat-error *ngIf="true">{{inputErrors[0]}}</mat-error>
					</mat-form-field>
				</p>

      <button mat-raised-button
        color="primary"
        (click)="onSubmitEditEmail($event)"
        [disabled]="emailForm.invalid"
        class="main-profile_submit">
        {{accountStaticData.mappings.personalInfo.email.button.text}}
      </button>

      <div [formGroup]="passwordForm" class="main-profile_password">
        <p>
					<mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{accountStaticData.mappings.personalInfo.password.passwordInput.text}}</mat-label>
						<input type="password" required matInput 
              autocomplete="off" formControlName="passwordFirstInput">
						<mat-hint class="helper-password" [ngClass]="{'error': passwordForm.errors}">{{inputErrors[1]}}</mat-hint>
					</mat-form-field>
				</p>
				<p>
					<mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{accountStaticData.mappings.personalInfo.password.repeatPasswordInput.text}}</mat-label>
						<input type="password" required matInput
						  autocomplete="off" formControlName="passwordSecondInput">
						<mat-hint class="helper-password" [ngClass]="{'error': passwordForm.errors}">{{inputErrors[1]}}</mat-hint>
					</mat-form-field>
        </p>
      </div>
      <button mat-raised-button
        color="primary"
        (click)="onSubmitChangePassword($event)"
        [disabled]="passwordForm.invalid"
        class="password_submit">
        {{accountStaticData.mappings.personalInfo.password.button.text}}
      </button>
    </div>

    <div class="main-about" *ngIf="userAbout">
      <!-- <h3 class="main-profile_title">{{accountStaticData.mappings.personalInfo.detailsTitle.text}}</h3> -->
      <div class="main-about-container">

        <div class="container-form" [formGroup]="mainForm">

          <div class="form-username">
            <mat-icon class="left-icon"> 
              accessibility_new
            </mat-icon>
            <mat-form-field appearance="outline" class="form-username_name">
              <mat-label>{{accountStaticData.mappings.personalInfo.detailsInfo.nameInput.text}}</mat-label>
              <input type="text" formControlName="firstNameInput"
              required matInput autocomplete="off" >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{accountStaticData.mappings.personalInfo.detailsInfo.lastNameInput.text}}</mat-label>
              <input type="text" formControlName="lastNameInput"
              required matInput autocomplete="off" >
            </mat-form-field>
          </div>

          <div class="user-status">
            <mat-icon class="left-icon"> 
              cached
            </mat-icon>
            <label id="user-status-label">{{accountStaticData.mappings.personalInfo.detailsInfo.status.text}}</label>
            <mat-radio-group
              required
              aria-labelledby="user-status-label"
              class="example-radio-group"
              formControlName="userStatusRadio"
            >
              <mat-radio-button class="example-radio-button" *ngFor="let status of userStatuses" [value]="status">
                {{status}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="user-personal">
            <mat-icon class="left-icon"> 
              perm_contact_calendar
            </mat-icon>
            <div class="user-birth">
              <mat-form-field appearance="fill">
                <mat-datepicker-toggle matSuffix [for]="dateOfBirthPiker"></mat-datepicker-toggle>
                <mat-datepicker #dateOfBirthPiker startView="year" [startAt]="startDate"></mat-datepicker>
                <input readonly matInput
                  [max]="minSearchDate"
                  [matDatepicker]="dateOfBirthPiker"
                  formControlName="dateOfBirthInput"
                >
              </mat-form-field>
              <span class="user-old">
                {{mainForm.controls.dateOfBirthInput.value | userYearsOld:accountStaticData.mappings.personalInfo.detailsInfo.yearsOld.text}}
              </span>
            </div>

            <div class="user-gender">
              <label id="user-gender-label">{{accountStaticData.mappings.personalInfo.detailsInfo.gender.text}}</label>
              <mat-radio-group 
                aria-label="user-gender"
                formControlName="userGenderRadio"
                class="gender-radio-group"
              >
                <mat-radio-button
                  *ngFor="let gender of userGender"
                  class="gender-radio-button"
                  [value]='gender'>
                  {{gender}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="description">
            <mat-icon class="left-icon"> 
              description
            </mat-icon>
            <mat-form-field appearance="outline">
              <mat-label id="user-description-label">{{accountStaticData.mappings.personalInfo.detailsInfo.description.text}}</mat-label>
              <textarea
                formControlName="descriptionTextarea"
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10" 
                matInput placeholder="{{accountStaticData.mappings.personalInfo.detailsInfo.description.placeholder.text}}">
                {{user.about}}
              </textarea>
            </mat-form-field>
          </div>

        </div>

        <div class="languages">        
          <mat-icon class="left-icon"> 
            translate
          </mat-icon>
          <h4 class="languages-title">{{accountStaticData.mappings.personalInfo.detailsInfo.languages.text}}</h4>
          <div class="languages-new">

            <button mat-mini-fab
              color="accent"
              class="languages-new_btn"
              [disabled]="!languageForm.valid"
              aria-label="Example icon button with a plus one icon"
              (click)="addNewUserLanguage($event)">
              <mat-icon>plus_one</mat-icon>
            </button>

            <mat-form-field class="example-full-width">
              <mat-label>{{accountStaticData.mappings.personalInfo.detailsInfo.languages.input.text}}</mat-label>
              <input type="text"
                    aria-label="languages"
                    matInput
                    #languageInput
                    [formControl]="languageForm"
                    [matAutocomplete]="languageAuto">
              <mat-autocomplete #languageAuto="matAutocomplete">
                <mat-option *ngFor="let lang of availableLanguagesForUser" [value]="lang.displayName">
                  {{lang.displayName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="lvl-radio-group"
              [(ngModel)]="choicesLvlOfLang">
              <mat-radio-button 
                class="example-radio-button" 
                *ngFor="let lvl of lvlOfKnowledgeLanguage"
                [value]="lvl">
                  {{lvl}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="languages-list">
            <mat-list role="list">
              <mat-list-item role="listitem" 
                *ngFor="let lang of userLanguageKnowledge;let j = index">
                {{lang.isoCode | userLanguagesNameByIso: availableLanguages}}: {{lang.level | userLangLvl:sharedService.language}}
                <button mat-mini-fab
                color="warn"
                (click)="deleteCurrentLang(j, lang.isoCode)"
                aria-label="Example icon button with a filter list icon"
                class="delete-item">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <div class="interests">
          <mat-icon class="left-icon"> 
            emoji_events
          </mat-icon>

          <mat-form-field class="example-chip-list">
            <mat-label class="interests-title">
              {{accountStaticData.mappings.personalInfo.detailsInfo.interests.text}}
            </mat-label>
            <mat-chip-list #chipListOfInterests aria-label="Interest selection">
              <mat-chip
                *ngFor="let interest of userInterestsChoices"
                [selectable]="true"
                [removable]="true"
                color="accent"
                (removed)="removeInterest(interest)">
                {{interest | userInterestsNameById:availableInterests}}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="{{accountStaticData.mappings.personalInfo.detailsInfo.interests.placeholder.text}}"
                #interestInput
                [formControl]="interestsForm"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipListOfInterests"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedInterest($event)">
              <mat-option *ngFor="let interest of availableInterestsForUser" [value]="interest.displayName">
                {{interest.displayName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="skills">
          <mat-icon class="left-icon">
            handyman
          </mat-icon>
          <h4 class="skills-title">
            {{accountStaticData.mappings.personalInfo.detailsInfo.skills.text}}
          </h4>
          <div class="skills-new">
              <button mat-mini-fab
                color="accent"
                class="skills-new_btn"
                [disabled]="skillsForm.invalid"
                aria-label="Example icon button with a plus one icon"
                (click)="addNewUserSkill($event)">
                <mat-icon>plus_one</mat-icon>
              </button>

              <mat-form-field class="example-full-width">
                <mat-label>{{accountStaticData.mappings.personalInfo.detailsInfo.skills.input.text}}</mat-label>
                <input type="text"
                      aria-label="skills"
                      matInput
                      #skillInput
                      [formControl]="skillsForm"
                      [matAutocomplete]="skillsAuto">
                <mat-autocomplete #skillsAuto="matAutocomplete">
                  <mat-option *ngFor="let skill of availableSkillsForUser" [value]="skill.displayName">
                    {{skill.displayName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
    
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="lvl-radio-group"
                [(ngModel)]="choicesLvlOfSkill">
                <mat-radio-button 
                  class="example-radio-button" 
                  *ngFor="let lvl of lvlOfKnowledgeSkill;let i = index"
                  [value]="lvl">
                    {{lvl}}
                </mat-radio-button>
              </mat-radio-group>

          </div>

          <div class="skills-list">
            <ng-container *ngFor="let skillCategory of userSkillsKnowladgeList;let categoryIndex = index">
              <div class="skills-list_category" *ngIf="skillCategory.list.length > 0">
                <span class="category-title">{{skillCategory.name + ' :'}}</span>
                <mat-list role="list" class="list-item">
                  <mat-list-item role="listitem" *ngFor="let skill of skillCategory.list;let j = index">
                    {{skill.displayName}}
                    <button mat-mini-fab
                    color="warn"
                    (click)="deleteCurrentSkill(categoryIndex, j)"
                    aria-label="Example icon button with a filter list icon"
                    class="delete-item">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </ng-container>
          </div>

          <div class="skills-more">
            <mat-form-field appearance="outline">
              <mat-label>{{accountStaticData.mappings.personalInfo.detailsInfo.skills.description.text}}</mat-label>
              <textarea cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="40" matInput 
                placeholder="{{accountStaticData.mappings.personalInfo.detailsInfo.skills.description.placeholder.text}}">
              </textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="more">
          <mat-icon class="left-icon">
            dining
          </mat-icon>

          <h4 class="more-title">{{accountStaticData.mappings.personalInfo.detailsInfo.more.text}}</h4>
          <mat-list role="list" class="list-item">
            <mat-list-item role="listitem" *ngFor="let feature of accountFeatures">
              <mat-icon *ngIf="feature | userCheckFeatures: currentUserFeatures;else elseDescSplit"
                (click)="changeFeatures(feature.id, false)">radio_button_unchecked</mat-icon>
              <ng-template #elseDescSplit>
                <mat-icon (click)="changeFeatures(feature.id, true)">check_circle_outline</mat-icon>
              </ng-template>
              {{feature.displayName}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <button mat-raised-button
        [disabled]="mainForm.invalid"
        color="primary"
        (click)="onSubmitMainData($event)"
        class="main-profile_submit">
        {{accountStaticData.mappings.personalInfo.detailsInfo.submitBtn.text}}
      </button>
    </div>

  </section>

<!-- </app-account> -->