<!-- <app-account> -->

  <section class="card">
    <div class="user-profile-images">
      <img [src]="cardHeader" class="user-header_img" alt="User Timeline Image">
      <div class="user-face_img">
        <img [src]="cardUser" class="avatar" alt="User Profile Image">
        <input type="file"
          #fileInput
          id="uploadFile"
          (change)="uploadAvatar($event)"
          name="uploadFile"
          multiple="multiple"
          accept="image/*" 
        />
      </div>
    </div>
    <div class="user-profile-text">
      <h4 class="title">Ivan Ivanov</h4>
      <span class="discription">norm pacan</span>
    </div>
    <div class="card-content">
      <div class="card-content_buttons">
        <button mat-raised-button color="accent">Chat</button>
        <button mat-raised-button color="accent">My post</button>
        <button mat-raised-button color="accent">Feedback</button>
      </div>
    </div>
  </section>

  <section class="main">

    <div class="main-profile">
      <h3 class="main-profile_title">Main info</h3>

      <div [formGroup]="mainForm" class="main-profile_params">

				<p>
					<mat-form-field class="example-full-width">
						<input type="text" required matInput placeholder="Email" autocomplete="off" formControlName="emailInput">
						<mat-error *ngIf="true">{{inputErrors[0]}}</mat-error>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field class="example-full-width">
						<input type="text" required matInput placeholder="First name" autocomplete="off" formControlName="firstNameInput">
					</mat-form-field>
				</p>

				<p>
					<mat-form-field class="example-full-width">
						<input type="text" required matInput placeholder="Last name" autocomplete="off" formControlName="lastNameInput">
					</mat-form-field>
				</p>

      </div>
      <button mat-raised-button
        color="primary"
        (click)="onSubmitEditMainData($event)"
        [disabled]="mainForm.invalid"
        class="main-profile_submit">
        Accent main
      </button>

      <div [formGroup]="passwordForm" class="main-profile_password">
        <p>
					<mat-form-field class="example-full-width">
						<input type="password" required matInput 
						placeholder="Password" autocomplete="off" formControlName="passwordFirstInput">
						<mat-hint class="helper-password" [ngClass]="{'error': passwordForm.errors}">{{inputErrors[1]}}</mat-hint>
					</mat-form-field>
				</p>
				<p>
					<mat-form-field class="example-full-width">
						<input type="password" required matInput
						placeholder="Repeat password" autocomplete="off" formControlName="passwordSecondInput">
						<mat-hint class="helper-password" [ngClass]="{'error': passwordForm.errors}">{{inputErrors[1]}}</mat-hint>
					</mat-form-field>
        </p>
      </div>
      <button mat-raised-button
        color="primary"
        (click)="onSubmitChangePassword($event)"
        [disabled]="passwordForm.invalid"
        class="password_submit">
        Change password
      </button>
    </div>

    <div class="main-about">
      <h3 class="main-profile_title">About me</h3>

      <div class="main-about-container">

        <div class="user-status">
          <label id="example-radio-group-label">Pick your status</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="userStatus">
            <mat-radio-button class="example-radio-button" *ngFor="let status of userStatuses" [value]="status">
              {{status}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-divider></mat-divider>
        
        <div class="user-birth">
          <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input readonly matInput [max]="minSearchDate"
              [matDatepicker]="dateOfBirthPiker"
              [(ngModel)]="dateOfBirth"
              >
            <mat-datepicker-toggle matSuffix [for]="dateOfBirthPiker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirthPiker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
          <span class="user-old">{{dateOfBirth | userYearsOld}}</span>
        </div>

        <mat-divider></mat-divider>

        <div class="languages">
          <h4 class="languages-title">Languages</h4>

          <div class="languages-new">

            <button mat-mini-fab
              color="accent"
              class="languages-new_btn"
              [disabled]="!languageName"
              aria-label="Example icon button with a plus one icon"
              (click)="addNewUserLanguage($event)">
              <mat-icon>plus_one</mat-icon>
            </button>

            <mat-form-field>
              <mat-label>Language</mat-label>
              <input matInput [(ngModel)]="languageName">
            </mat-form-field>

            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="lvl-radio-group"
              [(ngModel)]="choicesLvlOfLang">
              <mat-radio-button 
                class="example-radio-button" 
                *ngFor="let lvl of lvlOfKnowledgeLanguage"
                [value]="lvl">
                  {{lvl}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="languages-list">
            <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let lang of userLanguageKnowledge;let j = index">{{lang.name + ' : ' +  lvlOfKnowledgeLanguage[lang.lvl]}}
                <button mat-mini-fab
                color="warn"
                (click)="deleteCurrentLang(j)"
                aria-label="Example icon button with a filter list icon"
                class="delete-item">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="description">
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="40" matInput placeholder="About me"></textarea>
          </mat-form-field>
        </div>

        <div class="interest">
          <mat-form-field class="example-chip-list">
            <mat-label>My interests</mat-label>
            <mat-chip-list #chipListOfInterests aria-label="Interest selection">
              <mat-chip
                *ngFor="let interest of choicesInterests"
                [selectable]="selectable"
                [removable]="removable"
                color="accent"
                (removed)="removeInterest(interest)">
                {{interest}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="New Interest..."
                #interestInput
                [formControl]="interestsForm"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipListOfInterests"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedInterest($event)">
              <mat-option *ngFor="let interest of filtredInterests" [value]="interest">
                {{interest}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="skills">
          <h4 class="skills-title">My skills</h4>
          <div class="skills-new">

              <button mat-mini-fab
                color="accent"
                class="skills-new_btn"
                [disabled]="skillsForm.invalid"
                aria-label="Example icon button with a plus one icon"
                (click)="addNewUserSkill($event)">
                <mat-icon>plus_one</mat-icon>
              </button>

              <mat-form-field class="example-full-width">
                <mat-label>Choose skills</mat-label>
                <input type="text"
                      aria-label="skills"
                      matInput
                      #skillInput
                      [formControl]="skillsForm"
                      [matAutocomplete]="skillsAuto">
                <mat-autocomplete #skillsAuto="matAutocomplete">
                  <mat-option *ngFor="let skill of filtredSkills" [value]="skill">
                    {{skill}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
    
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="lvl-radio-group"
                [(ngModel)]="choicesLvlOfSkill">
                <mat-radio-button 
                  class="example-radio-button" 
                  *ngFor="let lvl of lvlOfKnowledgeSkill;let i = index"
                  [value]="lvl">
                    {{lvl}}
                </mat-radio-button>
              </mat-radio-group>

          </div>

          <div class="skills-list">
            <ng-container *ngFor="let skillCategory of choicesSkills">
              <div class="skills-list_category" *ngIf="skillCategory.list.length > 0">
                <span class="category-title">{{skillCategory.name + ' :'}}</span>
                <mat-list role="list" class="list-item">
                  <mat-list-item role="listitem" *ngFor="let skillName of skillCategory.list;let j = index">
                    {{skillName}}
                    <button mat-mini-fab
                    color="warn"
                    (click)="deleteCurrentSkill(skillCategory.name, j)"
                    aria-label="Example icon button with a filter list icon"
                    class="delete-item">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </ng-container>
          </div>

          <div class="skills-more">
            <mat-form-field class="example-full-width">
              <mat-label>More details about your skills</mat-label>
              <textarea cdkTextareaAutosize
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="40" matInput placeholder="More information"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="more">
          <h4 class="more-title">Some more information</h4>
          <mat-list role="list" class="list-item">
            <mat-list-item role="listitem" *ngFor="let info of moreInfo;let j = index">
              <mat-icon *ngIf="info.status; else elseDescSplit">radio_button_unchecked</mat-icon>
              <ng-template #elseDescSplit>
                <mat-icon>check_circle_outline</mat-icon>
              </ng-template>
              {{info.name}}
            </mat-list-item>
          </mat-list>
        </div>

      </div>

      <button mat-raised-button
        color="primary"
        (click)="onSubmitEditAboutMeData($event)"
        class="main-profile_submit">
        Accent about
      </button>
    </div>

  </section>

<!-- </app-account> -->