@import '../../../styles/_typography.scss';

app-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $color-white087;
    overflow: auto;
    .login-form {
        align-self: center;
        padding: 50px;
        box-shadow: $boxShadow-container;
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .login-btn {
                background-color: $success-background;
                border: none;
                color: white;
                padding: 3px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                &:disabled {
                    background-color: gray!important;
                    cursor: default;
                }
            }
    
            .register-btn {
                color: $color-light-blue;
                font-size: 16px;
                font-weight: 400;
                &:hover {
                    text-decoration: underline;
                }
            }   
        }
    }

    @media screen and (max-height: 500px) {
        height: 500px;
    }
}