/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'styles/_common.scss';
@import 'styles/_typography.scss';
@import 'styles/_variable.scss';

html, body { 
    height: 100%;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}