 
<!-- <account-header -->
	
	<div class="user-profile-images">
		<img [src]="cardHeader" class="user-header_img" alt="User Timeline Image">
		<div class="user-face_img" *ngIf="user">
			<img src="{{user.avatarSrc}}" class="avatar" alt="User Profile Image">
			<input type="file"
				#fileInput
				id="uploadFile"
				(change)="uploadAvatar($event)"
				name="uploadFile"
				multiple="multiple"
				accept="image/*" 
			/>
		</div>
	</div>
	<div class="user-profile-text">
		<h4 class="title" *ngIf="user">{{user.firstName + ' ' + user.lastName}}</h4>
		<span class="discription"></span>
	</div>
	<div class="card-content">
		<div class="card-content_buttons">
			<button mat-raised-button color="accent">{{content.mappings.header.buttons.buttonChat.text}}</button>
			<a *ngIf="pageName != 'USER_ACCOUNT_FEEDBACK'"
				[routerLink]="locationService.joinWithLangRoutePath('account/trip-feedback/')"
				CorrectLinkHref
				class="link"
			>
				<button mat-raised-button color="accent">
				{{content.mappings.header.buttons.buttonFeedback.text}}
				</button>
			</a>
			<a *ngIf="pageName != 'USER_ACCOUNT_LIST'"
				[routerLink]="locationService.joinWithLangRoutePath('account/trip-list/')"
				CorrectLinkHref
				class="link"
			>
				<button mat-raised-button color="accent">
					{{content.mappings.header.buttons.buttonMyPosts.text}}
				</button>
			</a>
			<a *ngIf="pageName != 'USER_ACCOUNT'"
				[routerLink]="locationService.joinWithLangRoutePath('account/')"
				CorrectLinkHref
				class="link"
			>
				<button mat-raised-button color="accent">
				{{'Account'}}
				</button>
			</a>
		</div>
	</div>

<!-- </account-header> -->   