<!-- <app-welcome> -->

    <div class="welcome">

      <div class="welcome-search">
        <div class="destination">
          <mat-form-field  appearance="fill" [formGroup]="searchForm">
              <mat-label>{{pageDataContent.searchArea.destination.text}}</mat-label>
              <input 
                  matInput type="text"
                  autocomplete="off"
                  formControlName="destinationValue"
                  placeholder="{{pageDataContent.searchArea.destination.placeholder.text}}">
              <button mat-button 
                  [ngClass]="{'dirty': searchForm.value.destinationValue.length > 0}"
                  matSuffix mat-icon-button aria-label="Clear"
                  (click)="clearDestinationValue()">
                <mat-icon class="material-icons">close</mat-icon>
              </button>
            </mat-form-field>
        </div>
        <div class="date">
          <mat-form-field appearance="fill">
            <mat-label>{{pageDataContent.searchArea.dateRange.text}}</mat-label>
            <mat-date-range-input [formGroup]="searchForm" [rangePicker]="picker" [min]="minSearchDate">
              <input
                matStartDate
                formControlName="start"
                autocomplete="off"
                readonly
                placeholder=""
              >
              <input
                matEndDate
                formControlName="end"
                autocomplete="off"
                readonly
                placeholder=""
              >
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            <mat-error *ngIf="searchForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="searchForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
        </div>

        <div class="people">
          <mat-label>{{pageDataContent.searchArea.peopleCount.text}}</mat-label>
            <mat-form-field [formGroup]="searchForm" appearance="fill">
                <button 
                  mat-button 
                  mat-icon-button 
                  matPrefix 
                  aria-label="Remove" 
                  [color]="getColor()" 
                  (click)="incrementValue(- 1)" 
                  [disabled]="shouldDisableDecrement(searchForm.value.formField)">
                  <mat-icon>remove</mat-icon>
                </button>
                <input matInput
                    formControlName="formField"
                    type="number"
                    readonly
                    (focus)="setColor('primary')"
                    (blur)="setColor('default')" />
                <button 
                  mat-button 
                  mat-icon-button 
                  matSuffix
                  aria-label="Add"
                  [color]="getColor()" 
                  (click)="incrementValue(1)" 
                  [disabled]="shouldDisableIncrement(searchForm.value.formField)">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-form-field>
        </div>

        <button mat-fab
          class="find"
          color="warn"
          [disabled]="searchForm.status === 'INVALID'"
          (click)="searchOffers()">
          <span class="find-text">
            {{pageDataContent.searchArea.submitButton.text}}
          </span>
            <mat-icon>search</mat-icon>
        </button>

      </div>

      <div class="welcome-create">
        <a class="welcome-create_btn"
          [routerLink]="locationService.joinWithLangRoutePath('/create-travel/')">
          <button class="welcome-create_btn"
            mat-raised-button
            color="warn">
            Create new trip
          </button>
        </a>
      </div>
      <!-- <span>{{pageData.searchArea.dateRange.text}}</span> -->
    </div>
  
<!-- </app-welcome> -->